<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Grades</span>
    <span class="example-spacer"></span>
    <input [(ngModel)]="student" (input)="applyFilter()" matInput placeholder="Search">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="seach">search</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-list-item *ngFor="let grade of grades">
    <div mat-list-icon>{{grade.grade}}</div>
    <div mat-line>{{grade.studentName}}</div>
    <div mat-line> {{grade.className}} </div>
    <div fxHide.xs> {{grade.teacherName}}</div>
    <div fxHide.sm fxHide.xs class="meta-data"> {{grade.metaData.data}}</div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>